.row {
  display: flex;
  flex-direction: column;
}

.column1 {
  flex: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  min-width: 100vh;
}

.column3>* {
  margin: 0.6em
}

.column2 {

  /*   flex: 75%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #c1f1bc;
  min-height: 50vh;
  min-width: 100vh;
  /*
  height: 100vh;
  width: 75vh;
  zoom: 200%;*/
}

.column3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.colunaDiv1 {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.colunaDiv2 {}

.ocultar {
  visibility: hidden;
}

.mostrar {
  visibility: visible;
}